@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:is(input[type="radio"]:checked):hover {
  background-color: var(--bg);
  border-color: var(--bg);
  color: var(--fg);
}

.btn:is(input[type="radio"]):checked {
  background-color: var(--bg);
  border-color: var(--bg);
  color: var(--fg);
}
